@font-face{
  font-family: "Baskerville";
  src: url('/fonts/BaskervilleMTStd-Regular.otf');
}

@font-face{
  font-family: "CutiveMono";
  src: url('/fonts/CutiveMono-Regular.ttf');
}

@font-face{
  font-family: "GillSans";
  src: url('/fonts/GillSansMTPro-Medium.otf');
  font-weight: 500;
}

@font-face{
  font-family: "Merriweather";
  src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/fonts/sanfrancisco.woff");
}

@font-face {
  font-family: "open-dyslexic";
  src: url("/fonts/open_dyslexic/OpenDyslexic-Regular.otf");
}

.open-dyslexic, .open-dyslexic .chapter-heading, .open-dyslexic .section-title, .open-dyslexic .sub-title, .open-dyslexic .body-text, .open-dyslexic.preview-text, .open-dyslexic .preview-text{
  font-family: "open-dyslexic" !important;
}

.cutive-mono, .cutive-mono .chapter-heading, .cutive-mono .section-title, .cutive-mono .sub-title, .cutive-mono .body-text, .cutive-mono.preview-text{
  font-family: "CutiveMono";
}
.baskerville, .baskerville .chapter-heading, .baskerville .section-title, .baskerville .sub-title, .baskerville .body-text, .baskerville.preview-text{
  font-family: "Baskerville";
}

.gill-sans, .gill-sans .chapter-heading, .gill-sans .section-title, .gill-sans .sub-title, .gill-sans .body-text, .gill-sans.preview-text{
  font-family: "GillSans";
}
.merriweather, .merriweather .chapter-heading, .merriweather .section-title, .merriweather .sub-title, .merriweather .body-text, .merriweather.preview-text{
  font-family: "Merriweather";
}
.helvetica, .helvetica .chapter-heading, .helvetica .section-title, .helvetica .sub-title, .helvetica .body-text, .helvetica.preview-text{
  font-family: "Helvetica";
}

