@import "colors";

code {
    background: $code-bg;
    color: darken($code-text,10%);
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}
code, kbd, pre, samp {
    font-family: "Inconsolata", monospace !important;
}

pre {
    padding: 1rem;
    margin: 2rem 0;
    background: $pre-bg;
    border: 1px solid $core-border-color;
    border-radius: 2px;
    line-height: 1.15;
    font-size: 1rem;

    code {
		color: $pre-text;
		background: inherit;
		font-size: 1rem;
	}
}

pre {
    position: relative;
}

pre {
    overflow: auto;
}


#container a {
    color: $link-text; 
    text-decoration: none;
    border-bottom: 2px dotted black;
    -o-transition:color .1s ease-out, background .3s ease-in;
    -ms-transition:color .1s ease-out, background .3s ease-in;
    -moz-transition:color .1s ease-out, background .3s ease-in;
    -webkit-transition:color .1s ease-out, background .3s ease-in;
    transition:color .1s ease-out, background .3s ease-in;
}

#container a:hover { 
    color: $link-hover-text;
    background: $link-hover-bg; 
    border-bottom: 2px solid black;
}
